/* override table width restrictions as found on https://github.com/getpelican/pelican/issues/1311 */
a { color:#5e738b; }
a:hover { color:#5e738b; }
a:visited { color:#8c9db1; }

.highlight { background: #fffae4; }

/*.rst-content dl:not(.docutils) dt { background: #d5f0f1; color: #5e738b; border-top: solid 3px #5e738b; }*/
html.writer-html4 .rst-content dl:not(.docutils)>dt, 
html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)>dt { 
    background: #d5f0f1; color: #5e738b; border-top: solid 3px #5e738b;
}
dl.simple dt { border: none!important; background: transparent!important; }
.rst-content .viewcode-link, .rst-content .viewcode-back { color: #5e738b; }
.rst-versions .rst-current-version { color: #5e738b; }

.wy-table-responsive table td, .wy-table-responsive table th { white-space: normal !important; }
.wy-table-responsive { overflow: visible !important; }

.wy-menu-vertical a:active { background-color: #5e738b; }

.wy-nav-content { max-width: 1200px; margin: unset; }

.wy-side-nav-search { background-color: #5e738b; }
.wy-side-nav-search>a:hover { background:none; }
.wy-side-nav-search>div.version { color:rgba(255, 255, 255, 1); }

/* !!! */
.ethical-rtd.ethical-dark-theme { display: none; }

.icon:before { display:none; }

.rst-content blockquote { margin-left: 0; background: #7e8fa1; color:#fff; padding: 15px; }
.rst-content blockquote code.literal { color: #5e738b; }
.rst-content blockquote div p { margin-bottom:0; }

dl.docutils dt {
    background: transparent!important;
    border-left: none!important;
    font-size: 100%!important;
    color: #404340!important;
}

.line-block .line:first-child {
	display: none;
}

p.rubric:after {
    content: ":";
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {

    dl.first.docutils { 

        margin-top:-27px; 

    }
}}